.wx-goods-detail-spec-group {
  .am-tag-active {
    background-color: #fff;
    color: #E43F47;
    border: 1PX solid #E43F47;
  }

  .am-tag {
    border-radius: .06rem;
    display: inline-block;
    position: relative;
    font-size: .28rem;
    padding: 0.1rem .4rem;
    margin: 0.2rem;
    text-align: center;
    height: .48rem;
    line-height: .48rem;
  }

  .am-tag-normal {
    background-color: #fff;
    color: #888;
    border: 2PX solid #ddd;
  }

}
.textIntroduce{
  padding: 0.3rem 0.3rem 0.1rem;
  border-bottom: 1px solid #ddd;
  .textIntroduce_span{font-size: 0.26rem;color:#333333;padding-bottom: 0.2rem;}
}

.goodscontent2{
  .goodsname{font-size: 0.28rem;text-align: center;
    color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding-bottom: 0.15rem;padding-top: 0.2rem;
  }
  .goodsproduct{font-size: 0.24rem;overflow: hidden;
    color: #999;}
  .div_bottm{
    .span_picese{
      color: #e60012;font-size: 0.28rem;float: left;}
    .span_kunum{font-size: 0.24rem;color:#9d9c9c;
      float: right;}
  }

}
.redeeNow_stepper{min-width: 0.8rem;}
.am-list-line .am-list-content{font-size: 0.28rem;
  color: #333 !important;}
.wx-goodspece-detail-info2{
  background: #ffffff;

.surplus_span{display: block;width: 110px;text-align: center;float: right;padding-top: 0.15rem;
  font-size: 0.24rem;
  color: #999;}
  .am-flexbox-item:not(:first-child) {
    font-size: .24rem;
    color: red;
  }
}
.wx-goodspece-detail-info2:not(:first-child){ border-bottom: 1px solid #ddd;}
.bargainBtn{position: fixed;background: #ffffff;height: 1rem;bottom: 0px;width: 100%;

}
.listBox{
  .am-list-body:after{border-bottom: none;}
  .am-list-body{border-top: none;}
}

