
.extrared_success{
    border-right: 1px solid #e5e5e5;
     .am-list-extra{
        color:#999 !important;
      font-size: 0.26rem;
    } 
  }

.wx-viewLogistics{
  .item_list{
    .item_list_name{font-size: 0.28rem;
      color: #333;}
    .item_list_protime{font-size: 0.24rem;padding-top: 0.05rem;
      color: #999;}
  }
  .order-list-content{
    .am-list-content{font-size: 0.28rem;color:#333;}
    .am-list-extra{font-size: 0.26rem;color:#999;}
  }
  .inputitem{
    .am-input-label{font-size: 0.28rem;color:#333333;}
    .am-input-control input{font-size: 0.26rem;color:#999;}
  }
  .viewLonistics{
    .am-steps-item:not(:last-child){
      .am-steps-description{border-bottom: 1px solid #e5e5e5;}
    }
    .am-steps-title{font-size: 0.26rem;color:#666666;font-weight: normal;}
    .am-steps-description{font-size: 0.26rem;color:#999;}
  }
}


