 .wx-goods-class {
   display: flex;
   width: 100%;
   .wx-goods-class-menu {
     width: 30%;
     min-width: 100px;
   }
   .wx-goods-class-list {
     width: 65%;
     display: block;
     height: 100%;
     padding-left: 2.5%;
   }
   .am-menu .am-flexbox .am-flexbox-item .am-list .am-list-item .am-list-line .am-list-content {
     font-size: 28px;
   }
   .am-grid .am-flexbox .am-flexbox-item .am-grid-item-contain.column-num-3 .am-grid-text {
     font-size: 24px;
   }

 }
 .hotList{
   border-bottom: 2px solid #d7d7d7;padding: 0.2rem 0.2rem;
   .spanIcon{position: absolute;display: block;
     top: 0px;left:0px;
   }
   .hotName{
     height: 0.8rem;
     line-height: 0.4rem;
     overflow: hidden;
     margin-bottom: 0.15rem;
   }
 }
 .hotList:last-child{border-bottom: none;}
 .am-flexbox .am-flexbox-item{margin-left: 0px;}
 .am-tabs-bar .am-tabs-tab{height: auto;padding: 0.2rem 0rem;text-align: center;}