.hastitle .integralItem{padding:0.2rem 0rem 0.1rem;border-right:1px solid #999;border-bottom:1px solid #999;width: 33.2%}
.hastitle .integralNum{text-align: center;font-size: 0.25rem;padding: 0.1rem;}
.hastitle .integralBtn{height:0.4rem !important;
  line-height:0.4rem !important; font-size: 0.25rem !important;
  border-radius: 0px !important;
}
