.wx-CommonShare{
  .share_content{
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0px;
    left: 0px;
    .content_img1{    padding-top: 10vh;
      text-align: right;
      padding-right: 0.5rem;}
    .content_img2{
      padding-top: 3vh;
      text-align: center;
      padding-right: 0.2rem;

    }
  }

  /*分享内容*/
  .commonShare_content{
    background: #ffffff;
    padding: 0.2rem 0.26rem;
    .commonShare_content_title{font-size: 0.28rem;color:#333;text-align: center;padding: 0.1rem;}
    .commonShare_content_img{padding: 0.2rem 0rem;text-align: center;}
    .commonShare_content_btn{}
  }

}