.login_list{
  .am-input-item{
    margin-right: 0.26rem;
    padding-left: 0.26rem;
    .am-input-control{
      input{font-size: 0.28rem;color:#999;padding: 0px 0.2rem}
    }
  }
  .item_button{
    .am-list-line{padding-right: 0px !important;}
     .am-list-line:after{border-bottom: none !important;}
  }
  .am-list-footer{
  padding: 0.18rem 0.3rem 0.3rem 0.3rem;
  font-size: 0.24rem;
  color: #f00;
  }
}
