.wx-attention-crowfunding {
  padding-top: 0.9rem;
  .am-list{
    .wx-crowd-content{
      .am-list-line{padding-right: 0px !important;}
    }
  }
  .am-tabs-content .am-tabs-tabpane {
    overflow: hidden;
  }
  .am-tabs-bar{
    position: fixed;
    top: 0.9rem;
    width: 100%;
    z-index: 9999;
    .am-tabs-tab {
        width: 50%;
    }
  }
  /*众筹中*/
  .wx-crowd-content{
    padding-left: 0px;
    .am-list-content{padding: 0px;}
    .text-overflow-hidden{font-size: 0.28rem;
      color: #333; }
    .wx-crowd-content-Flex{margin: 0rem 0.26rem 0.2rem;padding-bottom:0.2rem;background: #ffffff;border-radius: 0.15rem;}
    .span_thumbs{margin-left: 30px}

    .show-info{
      height: 0.25rem;
      .progress{padding-top: 0.11rem; width: 83%;float: left;
        overflow: hidden;}
      .prigress_pesent{height: 0.3rem;line-height: 0.3rem; font-size: 0.24rem;color:#666;float: right;width: 15%;text-align: right;    overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;}
      .am-progress-outer{
        border-radius: 0.3rem;
       .am-progress-bar{border-radius: 0.3rem;}
      }
    }
    .span_price{font-size: 0.24rem;color:#999;padding-left: 7px;}
  }
}
.am-modal-content .am-modal-body{padding-bottom: 0.3rem;}

